 *{
   margin: 0;
   padding: 0;
   box-sizing: 0;
 }
 body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
img{
   height: 150px;
   width: 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #613700;
    padding: 15px 30px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}